<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Bootstrap Test Page</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="First Bootstrap Page">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-grid.css"/>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-reboot.css"/>
        <link rel="stylesheet" type="text/css" href="/static/Startpage.css"/>
        <script type="text/javascript" src="/static/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="/static/bootstrap.js"></script>
        <script type="text/javascript" src="/static/popper.js"></script>
        <script type="text/javascript" src="/static/tooltip.js"></script>
        <script type="text/javascript" src="/static/jquery_lib-3.3.1.js"></script>
    </head>
<body>



    <div id="mid_cont" class="container-fluid" style="background:url('/static/back.jpg');">
        <h1 class="text-light" style="text-align:center;margin: 5%;">Our Tech Stack</h1>
        <br/>
        <br/>
         <div class="row" style="padding:2%;margin:8%;">
                 <div class="col-md-4" style="border: 2px solid transparent;">
                      <img style="margin-left:-50%;" height="200" width="400" src="/static/django.png"/>
                 </div>
                 <div class="col-md-4" style="border: 2px solid transparent;">
                     <img style="margin-left:-30%;" height="200" width="500" src="/static/python.png"/>
                 </div>
                 <div class="col-md-4" style="border: 2px solid transparent;">
                     <img style="margin-left:10%;" height="200" width="450" src="/static/skl.png"/>
                 </div>
          </div>
         <br/>
         <br/>
    </div>

</body>
</html>