<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Bootstrap Test Page</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"> 
        <meta charset="UTF-8">
        <meta name="description" content="First Bootstrap Page">
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-grid.css"/>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-reboot.css"/>
        <link rel="stylesheet" type="text/css" href="/static/Startpage.css"/>
        <script type="text/javascript" src="/static/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="/static/bootstrap.js"></script>
        <script type="text/javascript" src="/static/popper.js"></script>
        <script type="text/javascript" src="/static/tooltip.js"></script>
        <script type="text/javascript" src="/static/jquery_lib-3.3.1.js"></script>
    </head>
<body>
     <div id="upper_cont" class="container-fluid ">
          <div class="row" style="padding:-0.8%">
                 <div class="col-md-4" style="border: 2px solid transparent;"></div>
                 <div class="col-md-4" style="border: 2px solid transparent;">
                      <img src="/static/logo.png" alt="Site Logo" height="200" width="300"/>
                      <h3 id="log_txt">EL Predicto!{{ data }}</h3>
                 </div>
                 <div class="col-md-4" style="border: 2px solid transparent;"></div>
          </div>
    </div>
    
    <div id="mid_cont" class="container-fluid">
         <div class="row" style="padding:2%;">
                 <div class="col-md-4" style="border: 2px solid transparent;"></div>
                 <div class="col-md-4" style="border: 2px solid transparent;">
                      <div class="card" style="border: 1px solid navy;box-shadow: 2px 2px 2px black, 0 0 5px darkslategray;">
                           <div class="card-header" style="color:yellow;font-family:'Consolas','Monaco';background-color:rgba(71,97,172,0.8);">UserLogin</div>
                           <div class="card-body" style="background-color:whitesmoke;">
                               <br/>
                                <div class="form-group">
                                     <label for="usr"><i>Enter Email-Id/User-Id:</i></label>
                                     <input id="usr" type="text" class="form-control"/>
                                     <br/>
                                     <label for="pss"><i>Enter Password:</i></label><br/>
                                         <input id="pss" type="password" class="form-control d-inline-block w-50"/>
                                         <label class="form-check-label d-inline-block text-dark ml-5">
                                               <input type="checkbox" class="form-check-input" value="">
                                               ShowPass
                                         </label>
                                </div>
                               <br/>
                           </div> 
                           <div class="card-footer" style="color:yellow;font-family:'Consolas','Monaco';background-color:rgba(71,97,172,0.8);">
                               <a class="btn btn-outline-warning btn-sm float-left ml-2">Back To App</a>
                              <button type="button" class="btn btn-outline-warning btn-sm float-right mr-2">Submit</button>
                           </div>
                      </div>
                 </div>
                 <div class="col-md-4" style="border: 2px solid transparent;"></div>
          </div>
    </div>
     
</body>
</html>